{% extends "base.html" %}
{% block head %}
{% endblock head %}
{% block content %}
<section>
    <h2>{{ restaurant.name }}</h2>
    <!-- {% if restaurant.image %}
        <img src="{{ rest.image.url }}" alt="{{ restaurant.name }}" style="width: 150px;">
    {% else %}
        <img src="https://via.placeholder.com/150" alt="{{ restaurant.name }}">
    {% endif %} -->
    <h3>{{menu.name}}</h3>
    {% if user.profile.role == 'RestaurantOwner' and restaurant.user == user %}
        <div>
            <a href="{% url 'menu_update' restaurant.id menu.id %}">Edit</a>
            <a href="{% url 'menu_delete' restaurant.id menu.id %}">Delete</a>
        </div>
    {% endif %}
    {% if menu.image %}
        <img src="{{ menu.image.url }}" alt="{{ menu.name }}" style="width: 150px;">
    {% else %}
        <img src="https://via.placeholder.com/150" alt="{{ menu.name }}">
    {% endif %}
    
    <p>{{menu.description}}</p>
    <p>{{menu.category.name}}</p>
    <p>${{menu.price}}</p>
    <form id="add-to-cart-form" method="post" action="{% url 'cart_add' menu.id %}">
        {% csrf_token %}
        <button class="button is-primary">Add to Cart</button>
    </form>

</section>
{% endblock %}