{% extends "base.html" %}
{% block head %}
{% endblock head %}
{% block content %}
<section>
    <h2>{{ restaurant.name }}</h2>
    <img src="{{ restaurant.image }}" alt="{{ restaurant.name }}">
    <h3>{{menu.name}}</h3>
    <img src="{{menu.image}}" alt="{{menu.name}}">
    <p>{{menu.description}}</p>
    <p>{{menu.get_category_display}}</p>
    <p>${{menu.price}}</p>
    {% comment %} <form action="{% url 'add_to_cart' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="menu_id" value="{{menu.id}}">
        <button type="submit">Add to cart</button>
    </form> {% endcomment %}
</section>
{% endblock %}