{% extends "base.html" %}
{% block head %}
{% endblock head %}
{% block content %}
<section class="container">
    <div class="is-flex is-justify-content-space-between is-align-items-center">
        <h2 class="title">Order Detail</h2>
        <a href="{% url 'order_list' %}"><button class="button is-link is-light">Back to Orders</button></a>
    </div>
    <div class="box has-background-primary-light">
        <div class="is-flex is-justify-content-space-around is-align-items-baseline">
            <p class="subtitle">Order Date: {{ order.order_date }}</p>
            <p class="subtitle">Order Status: {{ order.status }}</p>
            <p class="subtitle"><strong>Order Total: BHD {{ order.total }}</strong></p>
        </div>
    </div>
    <p class="title has-text-centered">
        Items Ordered
    </p>
    {% load register_filter %}
    <div class="fixed-grid has-1-cols">
    {% for item in order.items.all %}
    <div class="cell mb-5">
        <div class="card">
            <div class="card-content is-flex is-justify-content-space-between is-align-items-center">
                <p class="title">
                    {{ item.name }}
                </p>
                <p class="subtitle">
                    {{ item.name }} x {{ item_quantities|hash:item.name }}  - BHD {{ item.price }}
                </p>
                {% if item.image %}
                <img src="{{ item.image.url }}" alt="{{ item.name }}" style="width: 150px;">
                {% else %}
                <img src="https://via.placeholder.com/150" alt="{{ item.name }}">
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
    <a href="{% url 'order_list' %}"><button class="button is-link is-light">Back to Orders</button></a>
</section>
{% endblock content %}