{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/restaurant/detail.css' %}">
{% endblock head %}
{% block content %}
<section class="container">
  <p class="title">Orders</p>
{% if orders %}
  <div class="is-flex is-flex-direction-column">
    {% for order in orders %}
    <div class="card mb-5">
      <div class="dim-self" style="height:50px;">
        <a class="is-flex is-flex-direction-row is-justify-content-space-around" href="{% url 'order_detail' order.id %}">
        <p class="is-size-5 mt-2"><strong>{{ order.order_date }}</strong></p>
        <p class="is-size-5 mt-2">Total: BHD {{ order.total }}</p>
        <p class="is-size-5 mt-2">Status: {{ order.status }}</p>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
{% else %}
  <p class="title">No orders have been made yet.</p>
{% endif %}
</section>
{% endblock content %}