<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Restaurant</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"> {% comment %} Bulma CSS framework import {% endcomment %}
    {% block head %}
    {% endblock %}
</head>
<body>
    <header>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a class="navbar-item" href="/">
                <img src="https://cdn-icons-png.flaticon.com/512/3448/3448609.png" alt="Logo"> {% comment %} Placeholder image {% endcomment %}
              </a>
            </div>
          
            <div class="navbar-end">
                {% comment %} IF USER IS LOGGED IN {% endcomment %}
                {% if user.is_authenticated %}
                <!-- if user has restaurant show edit resraurant if not show add restaurant -->
                <a class="navbar-item" href="{% url 'restaurant_create' %}">
                    Add Restaurant
                </a>
                <a class="navbar-item" href="{% url 'cart' %}">
                Cart
                </a>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a href="/profile" class="navbar-link">
                          Profile
                        </a>
                        
                        <div class="navbar-dropdown">
                            <a class="navbar-item">
                                Orders
                            </a>
                          <hr class="navbar-divider">
                          <a class="navbar-item">
                            <form id="logout-form" method="post" action="{% url 'logout' %}">
                              {% csrf_token %}
                              <button type="submit">Log out</button>
                            </form>
                          </a>
                        </div>
                    </div>
                {% comment %} IF USER IS NOT LOGGED IN {% endcomment %}
                {% else %}
                    <div class="navbar-item">
                        <div class="buttons">
                        <a class="button is-primary" href="{% url 'signup' %}">
                          <strong>Sign up</strong>
                        </a>
                        <a class="button is-light" href="{% url 'login' %}">
                          Log in
                        </a>
                    </div>
                {% endif %}
                </div>
              </div>
            </div>
          </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>