<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Restaurant</title>
    {% block head %}
    {% endblock %}
</head>
<body>
    <header>
        <div>
            <a href="/">Icon</a>
        </div>
        <nav>
            <ul>
                {% comment %} {% if user.is_authenticated %} {% endcomment %}
                    <li>Profile</li>
                    <li>Login</li>
                    <li>Logout</li>
                {% comment %} {% else %} {% endcomment %}
                    {% comment %} <li>Profile</li>
                    <li>Login</li>
                    <li>Sign up</li> {% endcomment %}
                {% comment %} {% endif %} {% endcomment %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>