{% extends "base.html" %}
{% block head %}
{% endblock head %}
{% block content %}
{% comment %} multiple ul just to make sure page content is being displayed {% endcomment %}
<section>
    <ul>
        {% for rest in restaurants %}
            <a href="{% url 'detail' rest.id %}">
                <img src="{{ rest.image }}" alt="{{ rest.name }}">
                <li>{{ rest.name }}</li>
                <li>{{ rest.address }}</li>
                <li>{{ rest.get_categories }}</li>
            </a>
        {% endfor %}
    </ul>
</section>
{% endblock %}