{% extends "base.html" %}
{% block head %}
{% endblock head %}
{% block content %}
{% comment %} multiple ul just to make sure page content is being displayed {% endcomment %}
<section class="container">
    <h1 class="is-size-1">Restaurants</h1>
    <br>
    <div class="fixed-grid has-4-cols is-multiline">
        <div class="grid">
        {% for rest in restaurants %}
        <div class="cell">
            <a href="{% url 'detail' rest.id %}">
            <div class="card">
                <div style="height: 100% width: 100%" class="card-image">
                    <div style="width: 100%">
                        <figure style="height: 100% width: 100%" class="image 3by1">
                            {% if rest.image %}
                                <img style="height: 100% width: 100%" src="{{ rest.image.url }}" alt="{{ rest.name }}" style="width: 150px;">
                            {% else %}
                                <img style="height: 100% width: 100%" src="https://via.placeholder.com/150" alt="{{ rest.name }}">
                            {% endif %}
                        </figure>
                    </div>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                {% if rest.image %}
                                    <img src="{{ rest.image.url }}" alt="{{ rest.name }}" style="width: 150px;">
                                {% else %}
                                    <img src="https://via.placeholder.com/150" alt="{{ rest.name }}">
                                {% endif %}
                            </figure>
                        </div>
                        <div class="media-content">
                            <p>{{ rest.name }}</p>
                            <p>{{ rest.address }}</p>
                            <p>{{ rest.get_categories_display }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        </div>
        {% endfor %}
        </div>
    </div>
</section>
{% endblock %}