{% extends "base.html" %}
{% block head %}
{% endblock head %}
{% block content %}
{% comment %} multiple ul just to make sure page content is being displayed {% endcomment %}
<section>
    <ul>
        {% for rest in restaurants %}
            <a href="{% url 'detail' rest.id %}">

                <p>{{ rest.name }}</p>
                {% if rest.image %}
                    <img src="{{ rest.image.url }}" alt="{{ rest.name }}" style="width: 150px;">
                {% else %}
                    <img src="https://via.placeholder.com/150" alt="{{ rest.name }}">
                {% endif %}

                <p>{{ rest.address }}</p>
                <p>{{ rest.get_categories_display }}</p>
            </a>
            <br>
        {% endfor %}
    </ul>
</section>
{% endblock %}