{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %} 
{% block content %}
<div class="page-header">
  <h1>Sign Up</h1>
</div>
{% if error_message %}
  <p class="red-text">{{ error_message }}</p>
{% endif %}
<form action="" method="post" class="form-container" autocomplete="off">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
      <tr>
        <th>
          <label for="email">Email Address: </label>
          <input type="email" name="email" autocomplete="email" id="email">
        </th>
      </tr>
      <tr>
        <th>
          <label for="address">Devliery Address:</label>
          <input type="text" name="address" autocomplete="address" id="address">
        </th>
      </tr>
  </table>
  <button type="submit" class="button is-primary">Submit!</button>
</form>

{% endblock %}