{% extends "base.html" %}

{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/restaurant/detail.css' %}">
{% endblock head %}

{% block content %}
<section class="restaurant-page">
    <div class="card">
        <div class="restaurant-header">
            <div class="restaurant-title has-text-centered">
                <h2>{{ restaurant.name }}</h2>
            </div>
            
            <div class="restraurant-details">
                <div class="restaurant-image">
                    {% if restaurant.image %}
                    <img src="{{ restaurant.image.url }}" alt="{{ restaurant.name }}" style="width: 150px;">
                    {% else %}
                    <img src="https://via.placeholder.com/150" alt="{{ restaurant.name }}">
                    {% endif %}
                </div>
                <div class="restaurant-description">
                    <p><strong>Address:</strong> {{ restaurant.address }}</p>
                    <p><strong>Categories:</strong> {{ restaurant.get_categories_display }}</p>
                </div>
            </div>
            
            {% if user.profile.role == 'RestaurantOwner' and restaurant.user == user %}
            <div class="restaurant-actions card-footer has-text-centered">
                <a class="card-footer-item" href="{% url 'restaurant_update' restaurant.id %}">Edit</a>
                <a class="card-footer-item" href="{% url 'restaurant_delete' restaurant.id %}">Delete</a>
                <a class="card-footer-item" href="{% url 'all_orders' restaurant.id %}">Orders</a>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="restaurant-menu">
        <div class="menu-header">
            <h3>Menu</h3>
        </div>
        <div class="menu-actions">
            {% if user.profile.role == 'RestaurantOwner' and restaurant.user == user %}
                <a href="{% url 'menu_create' restaurant.id %}"><button class="button is-primary mb-5">Add Menu Item</button></a>
            {% endif %}
        </div>
        <div class="menu-list">
            {% for cat in restaurant.get_categories %}
        
            <div class="menu-category">
                <h4>{{ cat }}</h4>
            </div>
            <div class="is-flex is-flex-direction-column">
                {% for item in menus %}
                    {% if item.category.name == cat %}
                        <a class="mb-5" href="{% url 'menu_detail' restaurant.id item.id %}">
                            <div class="card is-flex is-justify-content-space-between">
                                <div class="item-image pl-5">
                                    {% if item.image %}
                                        <img src="{{ item.image.url }}" alt="{{ item.name }}" style="width: 150px;">
                                    {% else %}
                                        <img src="https://via.placeholder.com/150" alt="{{ item.name }}">
                                    {% endif %}
                                </div>
                                <div class="item-name is-align-self-center">
                                    <h5>{{ item.name }}</h5>
                                </div>
                                <div class="item-description is-align-self-center">
                                    <p>{{ item.description }}</p>
                                </div>
                                <div class="item-price is-align-self-center pr-5">
                                    <p>BHD {{ item.price }}</p>
                                </div>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}