{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<!-- <link rel="stylesheet" href="{% static 'css/form.css' %}" /> -->
{% endblock %} 
{% block content %}
<div class="page-header">
</div>
{% if error_message %}
  <p class="red-text">{{ error_message }}</p>
{% endif %}
<section>
  <h3>Profile</h3>
  <p>Username: {{ user.username }}</p>
  <p>Email: {{ user.email }}</p>
  
  <h3>Address</h3>
  {% if user.profile.address == "" %}
  <a href="{% url 'profile_update' %}">
    <p>Enter your address to finish setting up your account</p>
  </a>
  {% else %}
    <p>Your address is: {{ user.profile.address }}</p>
    <p>You can update your address <a href="{% url 'profile_update' %}">here.</a></p>
  {% endif %}


</section>

{% endblock %}